{% extends 'base.html'%}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
        <tbody>
            {% for i in account %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.number }}</td>
                <td>{{ i.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% endblock content %}
