{% extends 'base.html'%}
{% block title %}
My Receipts
{% endblock title %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
        <tbody>
            {% for value in category %}
            <tr>
                <td>{{ value.name }}</td>
                <td>{{ value.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% endblock content %}
