{% extends 'base.html' %}
{% block content %}
<h1>My Receipts</h1>
<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
        <tbody>
            {% for item in receipt_list %}
            <tr>
                <td>{{ item.vendor }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.tax }}</td>
                <td>{{ item.date|date:"m/d/y" }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% if user.is_authenticated %}
<ul>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <li><a href="{% url 'category_list' %}">My Receipts</a></li>
    <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
    <li><a href="{% url 'create_category' %}">Create Category</a></li>
    <li><a href="{% url 'create_account' %}">Create Account</a></li>
    {% else %}
    <li><a href="{% url 'signup'%}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
</ul>
{% endif %}
{% endblock content %}
